[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "TAG"]
	path = TAG
	url = https://github.com/cran/TAG
	shallow = true
	registered = true
